.CounterTeste {
  float: left;
  width: 95%;
  border: 1px;
  margin-top: 10px;
  margin-left: 40px;
  padding-bottom: 20px;
}

.CounterTeste button {
  padding: 10px;
  margin: 5px;
}

.contagem {
  text-align: center;
  font-size: 25px;
}
